<%- transaction = resource %>
<tr>
  <td><%= transaction.amount %></td>
  <td><%= transaction.label&.name || "" %></td>
  <td><%= transaction.description %></td>
  <td><%= transaction.date.strftime("%x") %></td>
  <%= render "shared/crud_button_cols", resource: transaction %>
</tr>